/* Pour rendre les images responsives */
img {
  max-width: 100%;
  height: auto;
}

/* Mise en forme des légendes pour les images */
figure {
  margin: 0;
}

figcaption {
  font-size: var(--text-sm);
  color: var(--gray-600);
}