/* Mise en forme de bouton standard */
.btn {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--letter-spacing);
  font-weight: bold;
  padding: var(--space2x) var(--space3x);
  border: 1px solid var(--brand-saumon);
  color: var(--gray-black);
  font-size: var(--text-sm);
  display: inline-flex;
  place-items: center;
  gap: var(--space2x);
  transition: all .3s ease-in-out;
}

.btn:hover {
  box-shadow: inset 0 0 0 var(--space1x) var(--brand-saumon);
}

/* Modificateur pour les boutons version "outline" */
.btn--outlined {
  border-color: var(--gray-white);
  color: var(--gray-white);
}

.btn--outlined:hover {
  box-shadow: inset 0 0 0 var(--space1x) var(--gray-white);
}

.btn--outlined img {
  filter: invert();
}