/* L'élément fait 80% de la hauteur de l'écran.
On utilise flex ici pour aligner le contenu textuel en bas de l'élément et faire ainsi en sorte que le texte du titre s'étende vers le haut en fonction de la densité textuelle. */
.hero__header {
  position: relative;
  color: var(--gray-white);
  background-color: var(--brand-violet);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: var(--space5x);
}

/* L'élément qui contient l'image est positionné en absolu pour permettre au titre de venir se superposer à l'image. Toutes les propriétés de position à 0 permettent d'étendre cet élément à tout l'élément parent, positionné en relatif. */
.hero__img {
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  z-index: 0;
}

.hero__title,
.hero__sub-title {
  position: relative;
  z-index: 1;
}

.hero__sub-title {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: var(--text-sm);
  font-weight: bold;
  line-height: 1.8;
}

/* Le chapo occupe un minimum d'espace correspondant à 20% de la hauteur de l'écran.
On utilise flex pour placer les éléments enfants les uns à cotés des autres, espacés grâce à "gap" d'une valeur de 24px (var(--space3x)) */
.chapo {
  min-height: 20vh;
  display: flex;
  gap: var(--space3x);
  align-items: center;
}

/* La propriété flex avec la valeur 1 oblige les éléments à se partager l'espace de manière équivalente. */
.chapo__title {
  flex: 1;
  text-align: center;
}

.chapo__link {
  color: var(--gray-black);
  text-decoration: none;
}

.chapo__link img {
  display: block;
  margin: auto;
}

.chapo__text {
  font-size: var(--text-xl);
  line-height: 1.5;
}