/* Pour l'instant on cache le menu */
.menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

/* Mise en forme du bouton de menu "Hamburger" */
.menu-btn {
  position: relative;
  z-index: 3;
  width: 30px;  
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: '';
  background: var(--gray-black);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}